settings = {
    # your twitch nickname
    "username": "xqcow",
    # stats saved as html table, make soft link to this file in directory
    # with http access and view your stats online like 1.1.1.1/stats.html
    "html_filename": "stats.html",
    # stats saved as json data
    "json_filename": "stats.json",
    # columns in table that show points earned (in hours)
    "columns": [3, 8, 24, 48, 24 * 7, 24 * 7 * 2],
    # blacklisted streamers if you don't wan't them to be present in table
    "blacklist": ["forsen"],
    # how often to update data in table (in seconds)
    "refresh_rate": 60,
    "debug": False,
    "bugged_terminal": False,
}
